@font-face {
    font-family: 'Mythshire';
    src: local('Mythshire'), local('MythshireRegular'),
        url('MythshireRegular.woff2') format('woff2'),
        url('MythshireRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

