@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@font-face {
  font-family: "Mythshire";
  src: url("./mythshire-2023-11-27-05-26-20-utc/Fonts/TTF/Mythshire.ttf")
    format("truetype");
}

:root {
  /* Colors */
  --primary-color: #333;
  --accent-color: #333;
  --text-color: #fff;
  --background-color: #333;
  --basic-color: #fff;
  --dark-bg-color: #1d1d1d;

  /* Fonts */
  --font-primary: "Mythshire", sans-serif;
  --font-secondary: "Cinzel", serif;
  --font-body: "Libre Baskerville", serif;
  --font-text: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: italic;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
/* Navigation styles */
nav {
  background-color: var(--dark-bg-color);
  padding: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 100px;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 1.5rem;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--accent-color);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  margin: 3px 0;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--dark-bg-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 2000;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* Responsive Styles */
@media (max-width: 768px) {
  ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--dark-bg-color);
    /* position: absolute; */
    top: 60px; /* Adjust based on your nav height */
    left: 0;
  }

  ul.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}
.container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  animation: fadeIn 1s ease-out;
}

.hero {
  font-family: Georgia, serif;
  text-align: center;
  padding: 4rem 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://source.unsplash.com/random/1920x1080/?victorian,london")
      center/cover;
  margin-bottom: 4rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  animation: fadeIn 1s ease-out 0.5s both;
}

.hero p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2rem;
  animation: fadeIn 1s ease-out 1s both;
}

.cta-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  animation: fadeIn 1s ease-out 1.5s both;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--accent-color);
  color: var(--basic-color);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: 0.5s;
}

.button:hover::before {
  left: 100%;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(212, 175, 55, 0.3);
}

.slider-section {
  padding: 4rem 2rem; /* Added horizontal padding for spacing on the sides */
  background-color: var(--primary-color);
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.slider-image {
  width: 50%;
  height: 400px;
  overflow: hidden;
}

.slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-text {
  width: 50%;
  padding-left: 2rem;
  color: var(--text-color);
}

.slider-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sherlock-cards {
  padding: 4rem 2rem; /* Padding added to ensure spacing from the page edges */
  background-color: var(--background-color);
}

.sherlock-cards h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Adjust for 3 cards per row */
  gap: 2rem; /* Space between cards */
  padding: 0 2rem; /* Padding on the sides of the grid */
  max-width: 1200px; /* Restrict maximum width of the grid */
  margin: 0 auto; /* Center the grid on the page */
}

.sherlock-card {
  background-color: var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sherlock-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Enhanced hover effect */
}

.sherlock-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.sherlock-card h3 {
  font-size: 1.5rem;
  margin: 1rem;
  color: var(--accent-color);
}

.sherlock-card p {
  font-size: 1rem;
  margin: 0 1rem 1rem;
  color: var(--text-color);
}
.slider-section {
  padding: 0rem 0rem;
  background-color: var(--primary-color);
}

.slider-container {
  display: grid;
  max-width: 600px; /* Restrict maximum width of the slider */
  margin: 0 auto; /* Center the slider container */
  padding: 0 1rem; /* Horizontal padding for inner spacing */
}
.slider-image {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-text {
  width: 100%;
  padding-left: 2rem;
  color: var(--text-color);
}

.slider-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.sherlock-cards {
  padding: 0rem; /* Padding added to ensure spacing from the page edges */
  background-color: var(--background-color);
}

/* Footer styles */
.footer {
  padding: 48px 24px;
  background: var(--dark-bg-color);
  color: var(--basic-color);
  line-height: 1.6;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  margin-bottom: 32px;
}

.footer h3 {
  font-style: italic;
  font-size: 24px;
  margin-bottom: 16px;
}

.footer-links {
  font-family: var(--font-secondary);
  list-style: none;
  display: block;
}

.footer-links a {
  color: var(--basic-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--basic-color);
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 1s ease forwards;
}

/* Responsive styles */
@media (min-width: 768px) {
  .section {
    display: flex;
    align-items: flex-start;
  }
  .section img {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .carousel-item-video {
    display: none;
  }
  header {
    background-image: url("//sherlockholmes.com/cdn/shop/files/preview_images/fe8d7fbbfe914c5fa74020d1f4c240ea.thumbnail.0000000000.jpg?v=1697655974&width=960");
    background-size: cover;
    background-position: center;
    height: 300px;
  }

  h1 {
    padding-top: 120px;
  }

  .content-grid {
    grid-template-columns: 1fr;
  }
  /* 
  nav ul {
    display: none;
  } */

  .main-content {
    padding: 2rem;
    margin: 1rem;
  }

  .page-title {
    font-size: 2rem;
  }

  .slider-image {
    width: 100%;
  }
  .footer-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .slider-section {
    padding: 0rem;
    background-color: var(--primary-color);
  }

  .slider-container {
    display: grid;
    max-width: 600px; /* Restrict maximum width of the slider */
    margin: 0 auto; /* Center the slider container */
    padding: 0 1rem; /* Horizontal padding for inner spacing */
  }
  .slider-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider-text {
    width: 100%;
    padding-left: 2rem;
    color: var(--text-color);
  }

  .slider-text h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .sherlock-cards {
    padding: 0rem; /* Padding added to ensure spacing from the page edges */
    background-color: var(--background-color);
  }
}

@media (min-width: 1024px) {
  .slider-section {
    padding: 0rem;
    background-color: var(--primary-color);
    margin-bottom: 10px;
  }

  .slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .slider-image {
    width: 50%;
    height: 400px;
    overflow: hidden;
  }

  .slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider-text {
    width: 50%;
    padding-left: 2rem;
    color: var(--text-color);
  }

  .slider-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
