@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@font-face {
  font-family: "Mythshire";
  src: url("./mythshire-2023-11-27-05-26-20-utc/Fonts/TTF/Mythshire.ttf")
    format("truetype");
}

:root {
  /* Colors */
  --primary-color: #333;
  --accent-color: #333;
  --text-color: #fff;
  --background-color: #333;
  --basic-color: #fff;
  --dark-bg-color: #333;

  /* Fonts */
  --font-primary: "Mythshire", sans-serif;
  --font-secondary: "Cinzel", serif;
  --font-body: "Libre Baskerville", serif;
  --font-text: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: italic;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
}

/* Navigation styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.logo {
  width: 100px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 3px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px; /* Adjust based on your nav height */
    left: 0;
  }

  ul.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}

/* Header styles */
header {
  background-color: var(--dark-bg-color);
  color: var(--basic-color);
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  height: 250px;
}

h1 {
  font-family: var(--font-primary);
  font-size: 2.5em;
  /* margin-bottom: 10px; */
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 2;
}

/* Main content styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.intro {
  /* font-family: var(--font-secondary); */
  color: var(--basic-color);
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.section {
  /* font-family: var(--font-secondary); */
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.section h2 {
  font-family: var(--font-primary);
  color: var(--basic-color);
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.section img:hover {
  transform: scale(1.05);
}

/* Footer styles */
.footer {
  padding: 48px 24px;
  background: var(--background-color);
  color: var(--basic-color);
  line-height: 1.6;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  margin-bottom: 32px;
}

.footer h3 {
  font-style: italic;
  font-size: 24px;
  margin-bottom: 16px;
}

.footer-links {
  font-family: var(--font-secondary);
  list-style: none;
  display: block;
}

.footer-links a {
  color: var(--basic-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--basic-color);
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 1s ease forwards;
}

/* Responsive styles */
@media (min-width: 768px) {
  .section {
    display: flex;
    align-items: flex-start;
  }
  .section img {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .carousel-item-video {
    display: none;
  }
  header {
    background-image: url("//sherlockholmes.com/cdn/shop/files/preview_images/fe8d7fbbfe914c5fa74020d1f4c240ea.thumbnail.0000000000.jpg?v=1697655974&width=960");
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  h1 {
    padding-top: 120px;
  }
}
